/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}


/* UTILITIES */
.container {
  width: 1390px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
}

.one-fourth {
  width: 25%;
}

.one-third {
  width: calc(100%/3);
}

.one-half {
  width: 50%;
}

.two-third {
  width: calc(100%/1.5);
}

.three-fourth {
  width: 75%;
}

.one-full {
  text-align: center;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-room {
  padding-right: 20px;
  padding-left: 20px;
}

/* HEADER */
.main-header {
  background: white;
}

.navbar {
  width: 1065px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 70px;
}

.img-logo {
  width: 100px;
  vertical-align: middle;

}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 77%;
  font-weight: 600;
  letter-spacing: 0px;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.menu-nav li:nth-last-child(3) a{
  padding-right: 12px;
}

.menu-nav li:nth-last-child(2) a{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding-right: 12px;
  padding-left: 12px;
}

.menu-nav li:nth-last-child(1) a{
  padding-left: 12px;
  padding-right: 0;
}

.hamburger {
  display: none;
}

/* JUMBOTRON */
#jumbotron {
  height: 550px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#jumbotron h1 {
  font-weight: 600;
  font-size: 48px;
}

#jumbotron h3 {
  font-weight: 400;
  padding: 25px 0 18px;
  font-size: 16px;
}


/* PRODOTTI */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}
#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: blue;
}

#products .box a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}
#products .box h2,
#products .box h4,
#products .box a,
#products .box span {
  font-weight: 600;
}

#products .box h2 {
  margin-bottom: 21px;
  font-size: 36px;
}
#products .box h4 {
  margin-bottom: 24px;
  font-size: 24px;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 21px;
}

/* HOW WORKS */
.how-works-bg {
  height: 400px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

#how-works .contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 120px;
}

#how-works .col-sx {
  text-align: right;
}

#how-works .col-dx {
  margin-top: 20px;
}

#how-works .col-sx h3 {
  font-weight: 600;
  font-size: 30px;
  width: 190px;
  display: inline-block;
  text-align: left;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}

/* Responsive */
@media all and (min-width: 900px) and (max-width: 1279px) {
  .navbar {
    width: 800px;
  }

  .menu-nav li a {
    padding: 0 8px;
  }

  #jumbotron {

  }

}

@media all and (max-width: 899px) {
  .navbar {
    width: 95%;
    line-height: 80px;
  }

  .menu-nav {
    display: none;
  }

  .responsive-menu {
    width: 100%;
  }

  .hamburger {
    display: inline-block;
    margin-left: 75%;
    width: 25%;
    line-height: 80px;
    text-align: right;
    font-size: 50px;
  }

  .hamburger {
    text-align: right;
  }

  #products .one-half {
    float: none;
    width: 100%;
    padding: 20px;    
  }

}


@media all and (max-width: 480px) {
  #jumbotron h1 {
    font-size: 250%;
  }
}
